<:Title>
  {{ Volt.current_user.name }} Progress

<:Body>
  <h1>Progress</h1>

  <h3>{{ _check_ins.size }} Total Updates</h3>

  <h3>Add Update</h3>
  <form e-submit="add_check_in" role="form">
    <div class="form-group">
      <label>Weight</label>
      <input class="form-control" type="number" value="{{ page._new_weight }}" />
    </div>
  </form>

  <div class="recent-updates">
    {{ if _check_ins.size.then { |s| s > 0 } }}
    <h3>Recent Updates</h3>
    <table class="check-ins-table">
      <thead>
        <th>Date</th>
        <th>Weight</th>
        <th>Remove</th>
      </thead>
      {{ _check_ins.each do |c| }}
        <tr>
          <td>{{ c._date }}</td>
          <td>{{ c._weight }}</td>
          <td><button e-click="c.destroy">X</button></td>
        </tr>
      {{ end }}
    </table>
    {{ end }}
  </div>
