/* Nothing is finalized at this point, change/adjust as needed*/


h1 {
  background-color:rgba(0,255,0,0.25);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  clear: both;

}

#total-ups {
  background-color: rgba(0,255,255,0.5);
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  width: 250px;
  border-radius: 5px;
  clear: both;
}
#Goal-Change{
  border-width: medium;
  border-color: black;
  border-style: double;
  background-color: grey;
  text-align: center;
}
/* Temporary addition to show which _check_ins are _first_check_ins */
#first-weight{
  background-color: red;
}

.goal-diff{
  margin:auto;

}
th {
  border:5px,0px,5px,0px;
  padding:5px;
  text-align: center;
  margin: auto;
}
td {
  border:5px,0px,5px,0px;
  padding:5px;
  margin: auto;
  text-align: center;
}
